/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Reset */

:root {
  --primary-color: rgb(32, 32, 32);
  --background-color: rgb(24, 24, 24);
  --color: rgb(224, 224, 224);
  --link-color: rgb(192, 192, 192);
}

body {
  background: var(--background-color);
  color: var(--color);
  font-family: 'Helvetica', 'Trebuchet MS', 'Arial', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
  font: revert;
}

i, em {
  font-style: italic;
}

a {
  color: rgb(224, 224, 224);
  text-decoration: none;
}

a:hover {
  color: #fff;
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  padding: 24px;
  cursor: default;
}

header h1 a {
  color: #fff;
  transition: 0.1s;
}

header button {
  background: none;
  padding: 4px;
  color: var(--color);
  font-size: 20px;
  transition: 0.1s;
}

header button:hover {
  color: #fff;
}

header a:not(:last-child) {
  margin-right: 12px;
}

/* Footer */
footer {
  background: var(--primary-color);
  padding: 24px;
  text-align: center;
}

footer a {
  text-decoration: underline;
  transition: 0.1s;
}

footer a:hover {
  color: #fff;
}

/* Main */
main {
  width: 75%;
  min-height: 100vh;
  margin: 0 auto 0 auto;
  padding: 32px;
}

/* Home */
#posts-btns {
  text-align: center;
  margin-bottom: 16px;
}

#blog-posts {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc((100% - 1050px - 172px) / 2);
}

#blog-posts a {
  margin: 0 64px 64px 0;
}

.blog-post {
  background: var(--primary-color);
  width: 350px;
  height: 400px;
  border-radius: 4px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
  transition: 0.1s;
}

.blog-post:hover {
  transform: scale(1.01);
}

.blog-post-cover {
  height: 300px;
}

.blog-post-info {
  background: rgb(20, 20, 20);
  height: 100px;
  text-align: center;
  padding: 12px;
  box-sizing: border-box;
}

.blog-post-title {
  margin-bottom: 4px;
}

.blog-post-date {
  margin-top: 8px;
}

/* Log In, Sign Up, User Update */
#log-in-form, #sign-up-form, #edit {
  width: 25%;
  margin: 0 auto 0 auto;
}

#log-in-form input, #sign-up-form input, #edit input {
  display: block;
  background: var(--primary-color);
  width: 100%;
  margin: 12px 0 12px 0;
  color: #fff;
  font-size: 16px;
  border: 0;
  border-radius: 4px;
}

#log-in-form button, #sign-up-form button, #edit button {
  background: var(--primary-color);
  padding: 4px 16px 4px 16px;
  color: var(--color);
  font-size: 20px;
  border-radius: 4px;
}

#log-in-form button:hover, #sign-up-form button:hover, #edit button:hover {
  color: #fff;
}

#edit #delete-btn {
  margin-top: 12px;
}

#edit #delete-prompt {
  margin-top: 12px;
}

#edit #delete-prompt button {
  margin: 12px 12px 0 0;
}

#form-errors {
  list-style: disc;
  margin-top: 12px;
}

/* User */
#user {
  font-size: 20px;
}

#user div {
  margin: 12px 0 12px 0;
}

#user a {
  color: var(--link-color);
}

#user a:hover {
  color: #fff;
}

/* Post */
#post a {
  color: var(--link-color);
}

#post a:hover {
  color: #fff;
}

#post-author, #post-date {
  margin-top: 12px;
  font-size: 20px;
  font-style: italic;
}

#post-content {
  margin: 24px 0 24px 0;
  font-size: 24px;
}

/* Comments */
#post-comments-title {
  margin: 24px 0 24px 0;
}

#post-comments-prompt {
  margin-bottom: 24px;
}

#comment-form {
  margin: 24px auto 24px auto;
}

#comment-form textarea {
  background: var(--primary-color);
  width: 100%;
  height: 96px;
  margin: 12px 0 12px 0;
  color: #fff;
  font-size: 16px;
  border: 0;
  border-radius: 4px;
  resize: none;
}

#comment-form button {
  background: var(--primary-color);
  float: right;
  padding: 4px 16px 4px 16px;
  color: var(--color);
  font-size: 20px;
  border-radius: 4px;
}

#comment-form button:hover {
  color: #fff;
}

#comment-form:after {
  content: '';
  display: block;
  clear: both;
}

#post-comments {
  width: 50%;
  margin: 32px auto 0 auto;
}

.comment-controls span {
  color: var(--link-color);
}

.comment-controls span:hover {
  color: #fff;
}

.comment-date {
  margin-left: 12px;
}

.comment-controls {
  float: right;
}

.comment-controls span {
  color: var(--link-color);
  cursor: pointer;
}

.comment-controls span:hover {
  color: #fff;
}

.comment-delete {
  margin-left: 12px;
}

.comment-content {
  margin: 24px 0 24px 0;
  clear: both;
}

.comment-update-form {
  margin-top: 24px;
}

.comment-update-form textarea {
  background: var(--primary-color);
  width: 100%;
  margin-bottom: 12px;
  color: #fff;
  font-size: 16px;
  border: 0;
  border-radius: 4px;
  resize: none;
}

.comment-update-form button {
  background: var(--primary-color);
  float: right;
  margin-bottom: 12px;
  padding: 4px 16px 4px 16px;
  color: var(--color);
  font-size: 20px;
  border-radius: 4px;
}

.comment-update-form button:hover {
  color: #fff;
}

.comment-update-form:after {
  content: '';
  display: block;
  clear: both;
}